{% load static %}
<div class="card bg-light mb-3 " style="max-width: 100%;">
    <form class="form-inline" style="max-width: 100%;">
        <div class="row">
            <div class="col-lg">
                <div class="form-group mb-2 mt-5">
                    <label for="inputPassword2" class="sr-only">width</label>
                    <input type="password" class="form-control form-control-lg" id="inputPassword2"
                        placeholder="ความกว้าง cm">
                    <input type="password" class="form-control form-control-lg ml-2" id="inputPassword2"
                        placeholder="ความสูง cm">
                    <div class="form-group row">
                            <label for="colFormLabel" class="col-lg col-sm col-form-label">จำนวนบานประตูพับ </label>
                            <input type="email" class="form-control col-lg col-sm" id="colFormLabel" placeholder="col-form-label">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>


{% block content %}
{% endblock %}